---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentBlock from '../components/ContentBlock.astro';
---


<BaseLayout>
	<div class="flex w-9/12">
	  <main class="flex w-full items-center flex-col h-auto mt-32">
		<h1 class="font-sloth-extrabold">ABOUT</h1>
		<ContentBlock>
		</ContentBlock>
	  </main>
	</div>
  </BaseLayout>