---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="flex w-full">
	<main class="flex justify-center w-full items-center flex-col h-auto mt-32">
	  <h1 class="font-sloth-extrabold">MAIN INDEX</h1>
	  <a href="./admin" class="font-sloth-normal">ADMIN LINK</a>
	</main>
  </div>
</BaseLayout>
