---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div>
	<main class="flex justify-center">
	  <h1 class="font-sloth-extrabold">MAIN INDEX</h1>
	  <a href="./admin" class="font-sloth-normal">ADMIN LINK</a>
	</main>
  </div>
</BaseLayout>
