---
import type { ContentBlock } from '../lib/getContentBlock';
import  getContentBlocks from '../lib/getContentBlock';
import { PortableText as PortableTextInternal } from 'astro-portabletext';
import SanityImage from './SanityImage.astro';
import PortableText from './PortableText.astro';

const blocks = await getContentBlocks();
const about = blocks[0];

---

<p> { about.title } </p>
<p><PortableTextInternal value={ about.content }></PortableTextInternal></p>

