---
    let year = new Date().getFullYear().toString();
---

<script>
    document.getElementById("copyright").textContent = new Date().getFullYear().toString();
</script>

<div class="flex w-10/12 h-full justify-start items-center font-sloth-normal text-[var(--glass-text2)]">
    <small>
        Copyright &copy; <span>
            {year}
        </span>
         <!-- | All
        rights reserved -->
    </small>
</div>