---
import CopyrightColor from "./CopyrightColor.astro";
---

<footer class="flex h-40 w-full justify-center items-center mt-16 bg-[var(--glass2)] z-200 bottom-0">
    <h1 class="font-sloth-bold text-[var(--glass-text2)]"></h1>
    <CopyrightColor>
    </CopyrightColor>
</footer>