
<div class="flex justify-center h-full w-full " aria-label="Mount hood animated illustration where the mountain is overlooking a forrest and Lost Lake in the foreground">

  <div class="absolute h-full w-full bg-gradient-to-t from-cyan-300 to-cyan-100 -z-60">
  </div>

  <div class="absolute flex-col w-full h-full -z-50">
    <div class="block max-w-full h-auto">
      <svg class="w-full h-full fill-gray-500" viewBox="0 0 500 160" xmlns="http://www.w3.org/2000/svg"><g><path d="m248.004 32.04-7.064 2.354-20.016 20.8-34.536 16.877-11.382-1.963-52.197 22.37-38.069 7.457-41.6 10.99-43.004 1.57-.009 37.283 499.837-.393-.033-43.771-53.342-.97-53.767-9.026-16.09-9.026-16.092.785-28.257-9.42-32.967-21.192s-6.671 4.71-5.102 5.102c1.57.392-13.736-6.28-14.52-7.85l-3.14-6.279-12.952-3.532-8.241-7.457z"/></g></svg>
    </div>
  </div>


  <div class="absolute flex-col w-full h-full -z-40">
    <div class="block max-w-full h-auto">
      <svg class="w-full h-full fill-stone-900" viewBox="0 0 500 160" xmlns="http://www.w3.org/2000/svg"><g><path d="M215.822 101.233s43.563-2.747 45.133-2.747c1.57 0 53.767 10.204 53.767 10.204l51.02 3.14s61.617-11.774 63.58-11.774c1.961 0 49.842 1.177 51.804.392 1.962-.785 20.015 5.887 20.015 5.887l.393 43.17-501.566 2.748.393-46.31 53.767 5.102 35.714-1.963 36.107-5.887 27.864-1.962 25.51.785s19.23 3.532 20.8 3.532c1.57 0 15.7-4.317 15.7-4.317z"/></g></svg>
    </div>
  </div>  


  <div class="absolute flex-col w-full h-full -z-30">
    <div class="block max-w-full h-auto">
      <svg class="w-full h-full fill-green-900" viewBox="0 0 500 160" xmlns="http://www.w3.org/2000/svg"><g><path d="m163.625 99.574 14.52 9.812 10.597 6.28 37.677-1.57 21.585 5.494s45.133-3.925 46.703-4.317c1.57-.393 29.434-.393 29.434-.393l14.13-5.102 34.928-9.026h14.914s25.117 4.71 26.687 4.317c1.57-.393 38.854-3.925 38.854-3.925l47.487 4.71.785 38.069-501.958 3.14V110.17l29.828 2.747 38.068-5.887 48.273-.392 13.344.785 8.634 5.102 10.989-1.963z"/></g></svg>
    </div> 
  </div>  


  <div class="absolute flex-col w-full h-full -z-20">
    <div class="block max-w-full h-auto">
      <svg class="w-full h-full fill-green-950" viewBox="0 0 500 160" xmlns="http://www.w3.org/2000/svg"><g><path d="m283.598 118.533 3.924-2.355 5.495 4.317 12.95-3.532 10.205 3.925 19.623-7.065 6.672 6.672 22.37-8.634 14.521.785 19.623-10.204s11.382 4.71 12.951 3.925c1.57-.785 10.99-13.737 10.99-13.737l10.596 5.887 14.52-14.52 5.495 11.773 10.597-13.736 10.989 10.596 23.94-20.408 1.57 78.1s-153.457-4.793-229.983-3.924C180.486 147.42.633 153.069.633 153.069l1.177-36.106 20.016-3.925 20.8 5.495 12.952-9.42s8.634 12.952 9.419 11.382c.785-1.57 5.102-15.306 5.102-15.306l19.23 10.99 17.661-7.458 21.193 9.42s6.28-9.027 7.457-7.457c1.177 1.57 12.166 6.279 12.166 6.279s14.521-6.672 14.914-4.71c.392 1.963 8.241 7.457 8.241 7.457l17.269-2.747 11.773 3.532 5.102-4.71 12.56 2.355 23.154.393 28.65 2.747z"/></g></svg>
    </div> 
  </div>  
  

  <div class="absolute flex-col w-full h-full -z-10">
    <div class="block max-w-full h-auto">
        <svg class="w-full h-full fill-green-900" viewBox="0 0 500 160" xmlns="http://www.w3.org/2000/svg"><g><path d="m282.3 133.174 5.102-5.494 14.129 2.747s8.634-7.457 9.026-5.494c.393 1.962 5.495 10.596 5.495 10.596l11.773-1.57 11.382-8.242s5.494 12.167 6.28 10.204c.784-1.962 9.81-12.166 9.81-12.166l8.635 7.457 12.559-10.204s2.354 14.913 3.532 12.951c1.177-1.962 7.85-8.242 7.85-8.242l15.305-5.494 4.317 7.85 7.457-12.56 4.71 8.242 5.101-14.913s7.065-.393 7.457 2.747c.393 3.14 8.242-5.495 8.242-5.495l4.317 11.382 8.634-18.446 10.597 17.66 9.811-10.988 9.42 12.166 5.494-17.268 6.279-5.102s3.532 8.634 3.925 16.09c.085 1.617 1.177 41.21 1.177 41.21s-169.237-5.537-253.922-5.495c-82.202.04-246.466 11.774-246.466 11.774v-42.779l6.28 14.521s5.494-9.419 5.886-7.849c.393 1.57 20.016 3.925 20.016 3.925l13.736-7.064 1.962 11.38 9.42-7.848 7.063 8.241 27.08-8.241 17.661 6.28 8.634-10.597 6.672 11.773 32.182-2.747s10.989-.392 11.381 1.178c.393 1.57 17.661.785 17.661.785l18.838.784 9.027-7.064 9.026 10.204 13.344-9.419 11.774 7.85 8.634-3.925 6.672 7.064 8.242-5.887 6.671 5.887 4.71-4.317z"/></g></svg>
    </div>  
  </div> 

  
</div>