---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import Logo from "../components/Logo.astro";

---
<html lang="en">

	<BaseHead>
    </BaseHead>
	<body class="flex items-center flex-col">
      <div class="bg-gradient-to-br from-pink-300 via-purple-300 to-indigo-400 bg-cover h-screen fixed inset-0 -z-10 bg-fixed">
        <BaseHeader>
        </BaseHeader>

        <slot>
    
    
        </slot>

    
      </div>
	</body>
</html>