---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";



---
<html lang="en">
	<BaseHead>
    </BaseHead>
	<body>
    <BaseHeader>
    </BaseHeader>
		<slot>
            
        </slot>
	</body>
</html>