---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import Footer from "../components/Footer.astro";
import Mountain from "../components/Mountain.astro";
import MtFinal from "../components/MtFinal.astro";
import MtSun from "../components/MtSun.astro";
import FrontContent from "../components/FrontContent.astro";
import ExpHeader from "../components/ExpHeader.astro";
import MtPng from "../components/MtPng.astro";
import MtApple from "../components/MtApple.astro";
import DispHeader from "../components/DispHeader.astro";


---
<html lang="en">

	<BaseHead>
  </BaseHead>

	<body class="flex flex-col h-[4000px]">

    <!-- <div class="bg-gradient-to-br from-pink-300 via-purple-300 to-indigo-400 w-full h-full fixed inset-0 -z-100">
    </div> -->
<!-- 
    <Mountain>
    </Mountain> -->

    <!-- <MtFinal>
    </MtFinal> -->

    <!-- <MtSun>
    </MtSun> -->

    <MtApple>
    </MtApple>

    <!-- <MtPng>
    </MtPng> -->

    <!-- <BaseHeader>
    </BaseHeader> -->

    <DispHeader>
    </DispHeader>

    <!-- <ExpHeader>
    </ExpHeader> -->

    <FrontContent>
    </FrontContent>

    <!-- <div class="flex justify-center bg-neutral-100 w-10/12 min-h-screen mt-32 rounded-2xl">
      <slot>
    
    
      </slot>
    </div> -->

    <!-- <Footer>
    </Footer> -->

    
    <script src="../lib/menu.js"></script>
    <script src="../lib/landscape.js"></script>
	</body>
</html>