@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */

:root {

  /* HEADER */


  --menu-box-desk-width: 54px;
  --menu-box-width: 40.5px;
  --menu-buffer-width: 70px;
  --menu-bar-desk-width: 30px;
  --menu-bar-width: 24px;



  /* LANDSCAPE SVGS */

  --logo-color: #15131d;

  --backdrop-top: #f0abfc;
  --backdrop-bot: #ff9f8b;

  --mt-background-top: #fbdbc7;
  --mt-background-bot: #d5b0ec;

  --negative-top: #9d3b4a;
  --negative-bot: #494368;

  --hills-back: #474165;
  --hills-front: #3c3655;
  --field: #302c44;
  --trees: #252134;
  --treeline: #15131d;
  --shoreline: #252134;




  /* LANDSCAPE SVGS NIGHT*/

  /* --backdrop-top2: #0F0B08;
  --backdrop-bot2: #143C63; */

  --logo-color2: #eee1fe75;

  --backdrop-top2: #0f161e;
  --backdrop-bot2: #395475;

  --mt-background-top2: #C8D8E8;
  --mt-background-bot2: #3C6382;

  --negative-top2: #0F161E;
  --negative-bot2: #02233C;

  --hills-back2: #02233c;
  --hills-front2: #052035;
  --field2: #091d2d;
  --trees2: #0c1a27;
  --treeline2: #0f161e;
  --shoreline2: #0c1a27;


}

/* SLOTH */

@font-face {
    font-family: 'Sloth Extrabold';
    src: url('/fonts/sloth_extrabold-webfont.woff') format('woff');
    font-display: swap;
  }

@font-face {
  font-family: 'Sloth Bold';
  src: url('/fonts/sloth_bold-webfont.woff') format('woff');
  font-display: swap;
}
@font-face {
    font-family: 'Sloth Semibold';
    src: url('/fonts/sloth-semibold-webfont.woff') format('woff');
    font-display: swap;
  }

@font-face {
  font-family: 'Sloth Regular';
  src: url('/fonts/sloth-regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
    font-family: 'Sloth Light';
    src: url('/fonts/sloth-light-webfont.woff') format('woff');
    font-display: swap;
  }

@keyframes poolAnimation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes poolAnimationRev {
  from {
    rotate: 360deg;
  }
  to {
    rotate: 0deg;
  }
}




/* SAFARI SVG LANDSCAPE */

.para-container {
  perspective: 1px;
  transform-style: preserve-3d;
}

.para {
  position: absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}

.para-shoreline {
  transform: translateZ(0px) scale(1)
}

.para-treeline-copy {
  transform: translateZ(0px) scale(1)
}

.para-treeline {
  transform: translateZ(0px) scale(1)
}

.para-trees {
  transform: translateZ(-.18px) scale(1.18)
}

.para-field {
  transform: translateZ(-.29px) scale(1.29)
}

.para-hills-front {
  transform: translateZ(-.35px) scale(1.35)
}

.para-hills-back {
  transform: translateZ(-.38px) scale(1.38)
}

.para-backdrop {
  transform: translateZ(-.58px) scale(1.58);
}

/* .para-trees-copy {
  transform: translateZ(.13px) scale(.87);
}

.para-field-copy {
  transform: translateZ(-4px) scale(5)
}

.para-hills-front-copy {
  transform: translateZ(-5px) scale(6)
}

.para-hills-back-copy {
  transform: translateZ(-6px) scale(7)
}

.para-backdrop-copy {
  transform: translateZ(-7px) scale(8)
}
 */
