@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */

:root {
  --menu-box-desk-width: 54px;
  transition: --menu-box-desk-width 0.4s cubic-bezier(0.44, 0.21, 0, 1);
  --menu-box-width: 40.5px;
  transition: --menu-box-width 0.4s cubic-bezier(0.44, 0.21, 0, 1);
  --menu-buffer-width: 70px;
  --menu-bar-desk-width: 30px;
  transition: --menu-bar-desk-width 0.4s cubic-bezier(0.44, 0.21, 0, 1.1);
  --menu-bar-width: 24px;
  transition: --menu-bar-width 0.4s cubic-bezier(0.44, 0.21, 0, 1.1);
}

/* SLOTH */

@font-face {
    font-family: 'Sloth Extrabold';
    src: url('/fonts/sloth_extrabold-webfont.woff') format('woff');
    font-display: swap;
  }

@font-face {
  font-family: 'Sloth Bold';
  src: url('/fonts/sloth_bold-webfont.woff') format('woff');
  font-display: swap;
}
@font-face {
    font-family: 'Sloth Semibold';
    src: url('/fonts/sloth-semibold-webfont.woff') format('woff');
    font-display: swap;
  }

@font-face {
  font-family: 'Sloth Regular';
  src: url('/fonts/sloth-regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
    font-family: 'Sloth Light';
    src: url('/fonts/sloth-light-webfont.woff') format('woff');
    font-display: swap;
  }

@keyframes poolAnimation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes poolAnimationRev {
  from {
    rotate: 360deg;
  }
  to {
    rotate: 0deg;
  }
}